*{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(196deg, rgba(0,0,0,1) 18%, rgba(19,91,104,1) 32%, rgba(0,0,0,1) 48%, rgba(0,0,0,1) 64%, rgba(227,88,0,1) 76%, rgba(0,0,0,1) 89%);
}